html {
  font-size: 10px;
  background: url(background.jpg) bottom center;
  background-size: fill;
}
body,html {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.keys_top {
  margin-top: 10%;
  margin-bottom: 2.5%;
  display: flex;
  flex: 1;
  align-items: flex-start;
  justify-content: center;
}

.keys_middle{
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  display:flex;
  flex: 1;
  align-items: flex-start;
  justify-content: center;
}

.keys_bottom{
  margin-top: 2.5%;
  margin-bottom: 10%;
  display:flex;
  flex: 1;
  align-items: flex-start;
  justify-content: center;
} 

.key {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 2rem;
  font-size: 2rem;
  padding: 1rem .5rem;
  transition: all .06s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.55);
  text-shadow: 0 0 .5rem black;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color:lightgoldenrodyellow;
}
